<div class="container">
  <div class="row">
    <div class="col-md-8">
      <iframe
        width="640"
        height="385"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(getVideoUrl())"
        frameborder="0">
      </iframe>
    </div>
    <div class="col-md-4">
      <p style="font-weight: bold;">
        Video description:
      </p>
      <p>
        {{ video.snippet.description }}
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <p style="font-weight: bold;">{{ video.snippet.title }}</p>
  </div>
</div>
